*

h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
}
p
{
    background-color: chocolate;
}
.pa
{
    background-color: palevioletred;
}
body
{
    background-color: deeppink;
}
.paa
{
    background-color: brown;
}